body {
    background-color: rgb(161, 100, 223);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
}

.btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(161, 100, 223);
}

.btn>button {
    padding: 25px 50px;
    background-color: rebeccapurple;
    margin: 20px 20px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.btn>button:hover {
    opacity: .8;
}

.btn>button:focus {
    outline: none;
}

audio {
    width: 150px;
    height: 90px;
    margin: 0 30px;
    background-color: orange;
}